/*
* vncnt.css
* Copyright 2017-2019, Vincent von Schelm
* vncnt.eu
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 
* This file expects to inherit a ton of stuff from barebones.css
*/

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
* Note: The best way to structure the use of media queries is to create the queries
* near the relevant code. For example, if you wanted to change the styles for buttons
* on small devices, paste the mobile query code up in the buttons section and style it
* there.
*/
@import url('barebones.css');

html {
  --text-color-richer: #f9f9f9;  /*     */
  --text-color-normal: #f9f9f9;  /* text color; button:hover:focus color */
  --text-color-softer: #f9f9f9;  /* button color; button:hover border */

  --accent-color: #f9f9f9;         /* link; button-primary bg+border; textarea,select:focus border */
  --accent-color-hover: #268bd2;   /* link hover; button-primary:hover:focus bg+border */

  --border-color: #062F4F;           /* button border */
  --border-color-softer: #062F4F;    /* textarea,select,code,td,hr border   */

  --background-color: #062F4F;       /* body background; textarea,select background */
  --background-color-softer: #062F4F;
  --code-background: #1e4360;         /* code background*/

  --button-primary-color: #f9f9f9;
}

h1.h3-like, h2.h3-like {
  font-size: 3.0rem;
  line-height: 1.3;
  font-weight: 600;
}

.landingpage, .error404 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

.error404 {
  text-align: center;
}

p {
  margin-bottom: 1rem; /*skeleton.css: 2.5rem*/
}

.avatar {
  width: 20rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; 
  max-width: 60%;
  box-sizing: border-box;
  display: block;
  margin: auto;
  border: 5px solid var(--accent-color);
}

.autocenter {
  text-align: center;
}

.icons {
  bottom: 0;
}

.icons h2, h3 {
  margin-bottom: 0;
}

.icon {
  position: relative;
  margin: 1rem;
  display: inline-block;
  color: var(--button-primary-color);
  fill: var(--button-primary-color);
}

.icon:hover {
  color: var(--accent-color-hover);
  fill: var(--accent-color-hover);
}

.icon svg {
  width: 43px;
}

code {
  text-align: left;
}

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
  h1.h3-like, h2.h3-like {
    font-size: 3.6rem;
  }
    
  .grid-container.fivetoseven {
    grid-template-columns: 5fr 7fr;
  }
  
  .item {
    align-self: center;
  }

  .landingpage, .error404 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
  }

  .avatar {
    max-width: 200%;
    box-sizing: border-box;
    float: right;
  }
  
  .autocenter {
    text-align: left;
    padding: 0 0;
  }
} 

/* Larger than phablet */
@media (min-width: 900px) {
  html {
    --base-font-size: 80%;
  }
}

/* Larger than tablet */
@media (min-width: 1200px) {}
