  <div class="landingpage">
    <div class="grid-container fivetoseven" role="main">
      <div class="item" aria-label="Avatar">
        <section id="avatar">
          <img class="avatar" src="{{ .Site.Params.avatar }}" alt="{{ path.Base .Site.Params.avatar }}">
        </section>
      </div>
      <div class="grid-container full autocenter">
        <section id="bio" aria-label="Biography">
          <h1 class="h3-like" aria-level="1" aria-label="Name">{{ .Site.Params.author }}</h1>
          <p title="About" aria-label="About">{{ .Site.Params.bio | markdownify }}</p>
        </section>
        <section id="contact" aria-label="Contact">
          <div class="icons" aria-label="Links">
          <h2 class="h3-like" aria-label="Link Icons">
            {{ with .Site.Params.email }}<a class="icon" href="mailto:{{ . }}" target="_blank" rel="noopener" title="Mail">{{- readFile "/assets/svg/mail.svg" | safeHTML -}}</a>{{ end }}
            {{ range $contact_key,  $contact := .Site.Params.contact }}
              {{ if reflect.IsMap $contact }}
              {{- $icon := default $contact_key (index $contact "icon") -}}
              {{- $iconPath := print "/assets/svg/" $icon ".svg" -}}
              {{- $relme := cond (default false (index $contact "rel-me")) " me" "" -}}
              <a class="icon" href="{{ index $contact "link" | safeURL }}" target="_blank" rel="noopener{{ $relme }}">
              {{- readFile $iconPath | safeHTML -}}
              {{ else }}
              {{- $iconPath := print "/assets/svg/" $contact_key ".svg" -}}
              <a class="icon" href="{{ $contact | safeURL }}" target="_blank" rel="noopener">
              {{- readFile $iconPath | safeHTML -}}
              {{ end }}
            </a>{{ end }}
          </h2>
          </div>
        </section>
      </div>
    </div>
  </div>
