<!DOCTYPE HTML>
{{if .Site.Language}}<html lang="{{.Site.Language}}">{{else}}<html lang="en">{{end}}
  {{ partial "includes" . }}
  <title>This page was not found.</title>
  <div class="error404">
    <div class="grid-container full" role="main">
      <div>
        <h2>{{ "**404**" | markdownify }}</h2>
      {{ with .Site.Params.error404 }}
        <h3 aria-label="{{ . | markdownify }}">{{ "---" | markdownify }}{{ . | markdownify }}</h3>
      {{ else }}
        <h3 aria-label="{{ "There is no such page." | markdownify }}">{{ "---" | markdownify }}{{ "There is no such page." | markdownify}}</h3>
      {{ end }}
      </div>
    </div>
  </div>
</html>
